[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydoc-markdown = "*"
pytest = "*"
ipython = "*"
pytest-watch = "*"
pytest-vcr = "*"

[packages]

[requires]
python_version = "3.6"
